.vue-scroll-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    height: auto;
    width: 100%;
    overflow-y: auto;
}
.up-wrapper{
    visibility: hidden;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2.5rem;
    color: #A3A3A3;
}
.up-noMore{
    visibility: visible;
}
.up-noMore>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.up-noMore>div::before{
    content: "";
    display: block;
    border-bottom: 1px solid #E7E7E7;
    flex-grow: 1;
    margin-right: 1rem;
}
.up-noMore>div::after{
    content: "";
    border-bottom: 1px solid #E7E7E7;
    flex-grow: 1;
    margin-left: 1rem;
}
.up-loading{
    visibility: visible;
}